%h1 Listado de Pedidos Pedidos

.table-responsive
  %table.table
    %tr
      %th ID Pedido
      %th Cliente
      %th Descripcion corta
      %th Estado pedido
      %th Fecha entrega
      %th Hora entrega
      %th Sucursal entrega
      %th Direccion entrega
      %th Abono
      %th Encargado

    - @pedidos.each do |pedido|
      %tr
        %td= link_to pedido.numero_pedido_general ,pedido
        %td= link_to pedido.cliente ,pedido
        %td= link_to pedido.descripcion_corta ,pedido
        %td= pedido.estado_pedido 
        %td= pedido.fecha_entrega 
        %td= pedido.hora_entrega
        %td= pedido.sucursal_entrega 
        %td= pedido.direccion_entrega
        %td= pedido.abono
        %td= pedido.user.username
