<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">

   <div class="col-xs-6 col-ms-6 col-md-6"> 
     <h2> ID Pedido:
       <%= @pedido.numero_pedido_general %>
     </h2>
   </div>

   <div class="col-xs-6 col-ms-6 col-md-3"> 
    <strong>Numero de Guia VM:</strong>
    <%= @pedido.numero_guia_matriz %>
  </div>

  <div class="col-xs-6 col-ms-6 col-md-3"> 
   <strong>Numero de Guia Local:</strong>
   <%= @pedido.numero_guia %>
 </div>



</div>

<div class="row">
  <div class="col-xs-6 col-ms-6 col-md-6"> 
    <strong>Cliente:</strong>
    <%= @pedido.cliente %>
  </div>

  <div class="col-xs-6 col-ms-6 col-md-6"> 
    <strong>Encargado:</strong>
    <%= @pedido.user.username %>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-ms-6 col-md-6"> 
    <strong>Descripcion corta:</strong>
    <%= @pedido.descripcion_corta %>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-ms-6 col-md-6"> 
   <strong>Descripcion larga:</strong>
   <%= @pedido.descripcion_larga %>
 </div>
</div>


<div class="row">

 <div class="col-xs-6 col-ms-6 col-md-6"> 
  <strong>Estado pedido:</strong>
  <%= @pedido.estado_pedido %>
</div>

<div class="col-xs-6 col-ms-6 col-md-3"> 
  <strong>Abono:</strong>
  <%= @pedido.abono %>
</div>

<div class="col-xs-6 col-ms-6 col-md-3"> 
 <strong>Metodo pago:</strong>
 <%= @pedido.metodo_pago %>
</div>



</div>


<div class="row">
  <div class="col-xs-6 col-ms-6 col-md-6"> 
    <strong>Fecha entrega:</strong>
    <%= @pedido.fecha_entrega %>
  </div>

  <div class="col-xs-6 col-ms-6 col-md-6"> 
   <strong>Precio total:</strong>text
   <%= @pedido.precio_total %>
 </div>
</div>


<div class="row">
  <div class="col-xs-6 col-ms-6 col-md-6"> 
   <strong>Hora entrega:</strong>
  
    <%= @pedido.hora_entrega.strftime("%H: %M")%>
   
  
</div>

<div class="col-xs-6 col-ms-6 col-md-6"> 
  <strong>Celular:</strong>
  <%= @pedido.celular%>
</div>
</div>


<div class="row">
  <div class="col-xs-6 col-ms-6 col-md-6"> 
    <strong>Sucursal entrega:</strong>
    <%= @pedido.sucursal_entrega %>
  </div>

  <div class="col-xs-6 col-ms-6 col-md-6"> 
    <strong>Telefono:</strong>
    <%= @pedido.telefono %>
  </div>
</div>



<div class="row">
  <div class="col-xs-6 col-ms-6 col-md-6"> 
    <strong>Direccion entrega:</strong>
    <%= @pedido.direccion_entrega %>
  </div>

  <div class="col-xs-6 col-ms-6 col-md-6"> 
    <strong>Correo:</strong>
    <%= @pedido.correo %>
  </div>
</div>



</div>

<%= link_to 'Edit', edit_pedido_path(@pedido) , class: "btn btn-default"%> 
<%= link_to 'Back', pedidos_path , class: "btn btn-default"%> 
 <% if current_user.administrador? %>
 <%= link_to 'Eliminarr', pedido_path(@pedido) , method: :delete, data:{ confirm: "Estas seguro?"}%> 
  <% end %>
  