<h1>Editing Pedido</h1>

<%= simple_form_for(@linkpedido) do |f| %>
<% if @pedido.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

  <ul>
    <% @pedido.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


     <div class="field">
       <%= f.input :numero_pedido_general,label:' ID del pedido', disabled: false  %>
     </div>






<div class="actions">
  <%= f.submit %>
</div>
<% end %>


<%= link_to 'Show', @linkpedido %> |
<%= link_to 'Back', pedidos_path %>

